.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  user-select: none;
}


.right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 5rem;
  width: 100%;
}

.projectDataContainer {
  width: 100%;
}

.card {
  padding: 1rem 0rem;
  border-bottom: 1px solid var(--gray);
}

.title {
  width: 100%;
}

@media screen and (max-width: 1068px) {
  .content {
    grid-template-columns: repeat(1, 1fr);
  }
}
