.container {
  background-color: var(--tan);
}

.heading {
  width: 50%;
}

.bottom {
  margin-top: 5rem;
}

.dataMapContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

.card {
  border: 1px solid var(--gray);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;
  width: 100%;
}

.cardTop {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: var(--white);
  padding: 3rem;
  width: 100%;
}

.imgContainer {
  position: relative;
  width: 100%;
  height: 300px;
}

.img {
  position: absolute;
  object-fit: cover;
}
/* .title,
.price {
  color: #07feff;
  text-shadow: 0 0 10px rgba(7, 254, 255, 0.7);
  background: rgba(7, 254, 255, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  padding: 0.5rem 1rem;
  border: 1px solid rgba(7, 254, 255, 0.3);
  display: inline-block;
  transform: perspective(1000px) translateZ(0);
  box-shadow: 0 0 15px rgba(7, 254, 255, 0.2);
} */

.category {
  font-size: 2rem;
  color: var(--orange);
}

.description {
  opacity: 0.7;
}

.cardBottom {
  width: 100%;
}

.itemContainer {
  list-style: none;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  width: 100%;
  border-top: 1px solid var(--lightGray);
  padding: 1rem 0rem;
}

.blackDot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--black);
  display: block;
  margin-left: auto;
}

.btnContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  grid-gap: 2rem;
  margin-top: 3rem;
}

@media screen and (max-width: 868px) {
  .heading {
    text-align: center;
    width: 100%;
  }

  .dataMapContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}
