.container {
  background-color: var(--gray);
}

.bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10rem;
  padding: 3rem;
  border: 1px solid var(--black);
  background-color: var(--gray);
  transition: all 0.3s ease-in;
  cursor: pointer;
  border-right: none;
}

.card:hover {
  background-color: var(--tan);
}

/* .card:nth-child(4),
.card:nth-child(11) {
  background-color: transparent;
  border: none;
  display: hidden;
} */

.card:nth-child(4) {
  border-top: none;
  border-bottom: none;
  border-left: none;
}

.card:nth-child(4):hover,
.card:nth-child(11):hover {
  background-color: transparent;
}

.card:nth-child(3),
.card:nth-child(6),
.card:nth-child(9),
.card:nth-child(12),
.card:nth-child(14) {
  border-right: 1px solid var(--black);
}

.card:nth-child(5),
.card:nth-child(6),
.card:nth-child(8),
.card:nth-child(9) {
  border-top: none;
}

.card:nth-child(5),
.card:nth-child(6) {
  border-bottom: none;
}

.card:nth-child(8),
.card:nth-child(9) {
  border-top: 1px solid var(--black);
}

.card:nth-child(7),
.card:nth-child(8),
.card:nth-child(9) {
  border-bottom: none;
}

.card:nth-child(10),
.card:nth-child(11),
.card:nth-child(12) {
  border-bottom: none;
}

.card:nth-child(14) {
  border-right: none;
}

.card:nth-child(15) {
  border-right: none;
  border-bottom: none;
}

.title,
.dates,
.desc {
  color: var(--black);
}

@media screen and (max-width: 1068px) {
  .bottom {
    grid-template-columns: repeat(2, 1fr);
  }

  /* .card:nth-child(odd) {
    border-right: none;
    border-bottom: none;
    border-top: 1px solid var(--border);
  }
  
  .card:nth-child(even) {
    border-right: 1px solid var(--black);
    border-left: 1px solid var(--black);
    border-top: 1px solid var(--border);
    border-bottom: none;
  } */

  .card:nth-child(2),
  .card:nth-child(4),
  .card:nth-child(8),
  .card:nth-child(10),
  .card:nth-child(14) {
    border-right: 1px solid var(--black);
  }

  .card:nth-child(3) {
    border-right: none;
    border-top: none;
  }

  .card:nth-child(4) {
    border-left: 1px solid var(--black);
    border-bottom: 1px solid var(--black);
  }

  .card:nth-child(9) {
    border-right: none;
  }

  .card:nth-child(11) {
    border-left: none;
  }

  .card:nth-child(15) {
    display: none;
  }
}

@media screen and (max-width: 968px) {
  .heading,
  .copy {
    width: 100%;
    text-align: center;
    margin-top: 3rem;
  }
}

@media screen and (max-width: 668px) {
  .bottom {
    grid-template-columns: repeat(1, 1fr);
  }

  .card {
    align-items: center;
    justify-content: center;
  }

  .card:nth-child(4),
  .card:nth-child(11) {
    display: none;
  }

  .card {
    border-right: 1px solid var(--black);
  }

  .card:nth-child(2) {
    border-top: none;
  }

  .card:nth-child(3),
  .card:nth-child(9) {
    border-right: 1px solid var(--black);
  }

  .card:nth-child(6) {
    border-top: 1px solid var(--black);
  }

  .card:nth-child(14) {
    border-top: none;
  }

  .btnContainer {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 3rem;
  }
}
